<h1>Editing Video</h1>
<p class='edit_p'>(Fill in title and or description boxs to put in custom information else leave blank so that info will be replaced by the Movie DB according to title or season and episode numbers)</p>
<%= render 'form' %>
