<div id="home_wrapper">
  <h1>Welcome to Cloud Cinema !</h1>
  <div class="owl-carousel owl-theme">
      <img src='batman.jpg'>
      <img src='park.jpg'>
      <img src='avatar.jpg'>
      <img src='toy_story.jpg'>
      <img src='star_wars.jpg'>
      <img src='annabelle.jpg'>
      <img src='godfather.jpeg'>
      <img src='bttf.jpg'>
      <img src='ryan.jpg'>
  </div>

  <h1>Your Movies Anywhere, Anytime!</h1>
  <h2>Upload your own favorite movies to have them categorized and avalible all in one place. Have access from any device with a internet conection and browser. Also saves where you left off and when so never forget your place in a movie again!</h2>

  <div class="owl-carousel owl-theme">
      <img src='bad.jpg'>
      <img src='family_guy.jpg'>
      <img src='bob.jpg'>
      <img src='ahs.jpg'>
      <img src='sopranos.jpg'>
      <img src='stranger_things.jpg'>
  </div>

  <h1>TV series sorted by season and descriptons for every episode!</h1>

  <h2>Words and some more words. Even some other words! WOW.Words and some more words. Even some other words! WOW.Words and some more words. Even some other words! WOW.Words and some more words. Even some other words! WOW.Words and some more words. Even some other words! WOW</h2>

</div>


<script>
var owl = $('.owl-carousel');
$('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    dots:false,
    autoWidth:true,
    autoplay:true,
    autoplayTimeout:2500,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:5
        }
    }
});


</script>
