/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require s3_direct_upload_progress_bars
 *= require jquery.fileupload
 *= require jquery.fileupload-ui
 *= require dropzone/dropzone

 *= require_self
 *
    font-family: 'Sarala', sans-serif;

    font-family: 'Lato', sans-serif;

 */
@import 'owlcarousel2/owl.carousel';

html,
body {
  height: 100%;
  width: 100vw;
  max-width: 100vw;
  min-width: 100vw;
  margin: 0;
  font-family: 'Lato', sans-serif;
}
 body{
   background-color: #EAE0C7;
 }
 h1{
   text-align: center;
   font-family: 'Sarala', sans-serif;
 }
 //*****************************HEADER***************************************//
#header{
  background-color: #7EA3CF;
  height: 5.1em;
  width: 99.8vw;
  max-width: 100vw;
  font-family: 'Sarala', sans-serif;
  #logo{
    display: inline-block;
    width: 5em;
    height: 5em;
    background-image: url('/logo2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
    float: left;
    padding-right: 1em;
    padding-left: 1em;
  }
  ul {
    font-family: 'Sarala', sans-serif;
    font-size: 1.5em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7EA3CF;
    color: white;
    height: 100%;
    display: inline;
  }

  li {
      float: left;
      height: 100%;
  }

  li a {
      display: block;
      color: white;
      text-align: center;
      padding: .9em 16px;
      text-decoration: none;
  }

  li a:hover:not(.active) {
      background-color: #f4ea7a !important;
      color: #7EA3CF !important;
  }

  .active {
      background-color: #4CAF50;
  }


  @media only screen and (max-width: 777px) {
    li a {
        padding: 1.8em 10px;
        font-size: .7em;
    }
  }
  @media only screen and (max-width: 475px) {
    height: 110px;
    ul{
      display: block;
    }
    form{
      display: inline-block;
      float: right;
    }
    input{
      margin-top: -3em;
    }
    input[type='text']{
      margin-top: -3em !important;
    }
    input[type='text']:focus{
      margin-top: -1.9em !important;
      max-width: 90vw !important;
    }
  }

  @media only screen and (max-width: 415px) {
    li a {
        padding: 1.4em 7px;
        font-size: .6em;
    }
  }
  @media only screen and (max-width: 362px) {
    #logo{
      width: 4em;
      height: 4em;
    }
    li a {
        padding: 1em 4px;
        font-size: .6em;
    }
  }
  input[type='text']{
    background: #dae4f1 image-url("search.png") no-repeat 99% 50%;
    background-size: 110%;
    font-size: 1em;
    padding: .8em;
    display: inline-block;
    float: right;
    margin-top: 1.1em;
    margin-right: .2em;
    border: none;
    width: 1em;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    border-radius: 100%
  }
  input[type='text']:focus {
     width: 15em;
     height: auto;
     font-size: 1.5em;
     margin-top: .8em;
     border-radius: 5%;
     background: #fafafa url("search.png") no-repeat 99% 50%;
     background-size: 10%;
     padding: .3em;
  }
}




 //*****************************HEADER***************************************//


 //*****************************NOTICE / ALERT ***************************************//

 .notice, .alert{
   background-color: #F2E980;
   color: #7EA3CF;
   width: 99vw;
   text-align: center;
   margin: 0;
   font-weight: bold;
   font-size: 1.5em;
 }


 //*****************************NOTICE / ALERT ***************************************//


 //*****************************HOME***************************************//

#home_wrapper{
  overflow-x: hidden;

  h1{
    text-align: center;
    font-size: 2.5em;
    width: 98vw;
    max-width: 98vw;
    color: #F2E980;
    background-color: #7EA3CF;
    padding: 15px;
    margin: 0;
  }
  h2{
    text-align: center;
    font-size: 1.5em;
    width: 91vw;
    max-width: 91vw;
    margin-left: auto;
    margin-right: auto;
    color: #7EA3CF;
    background-color: #F2E980;
    padding: 15px 5%;
    margin: 0;
  }
  #icon_wrapper{
    text-align: center;
  }
  .icon{
    width: 40%;
    display: inline-block;
    height: 500px;
    background-color: #f1eada;
    padding: 50px;
    @media only screen and (max-width: 1050px) {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 89vw;
    }
    @media only screen and (max-width: 600px) {
      padding: 25px;
    }
    img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 250px;
    }
  .circle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 250px;
    height: 250px;
    background: #EAE0C7;
   -moz-border-radius:100px;
   -webkit-border-radius: 100px;
   border-radius: 100px;
  }
  h3{
    margin-top: 2.4em;
    color: #4d4d4d;
    font-size: 1.4em;
    }
  }
  #home_footer{
    width: 100%;
    height: 400px;
    background-color: #7EA3CF;
    color: #F2E980;
    padding: 50px;
    @media only screen and (max-width: 1000px) {
      padding: 2%;
    }
    .circle {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 200px;
      height: 190px;
      padding-top: 10px;
      background: #EAE0C7;
     -moz-border-radius:100px;
     -webkit-border-radius: 100px;
     border-radius: 100px;
    }
    img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 150px;
    }
    h3{
      text-align: center;
      font-size: 2em;
    }
    p{
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      font-size: 2.5em;
      a{
        text-decoration: none;
        color: #F2E980;
        text-align: center;
      }
    }

  }
}
#frist_owl{
  img{
    height: 600px;

  }
}
#second_owl{
  img{
    height: 400px;

  }
}


 //*****************************HOME***************************************//


 //*****************************DEVISE WRAPPER***************************************//

.delete_link{
  text-align: center;
  font-size: 1.5em;
  text-decoration: underline;
  color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#devise_wrapper{
  h2{
    text-align: center;
    font-size: 1.8em;
  }
  a{
    text-decoration: underline;
    font-size: 1.5em;
    text-align: center;
    display: block;
  }
  .field{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    margin-top: 30px;
    overflow: hidden;
    @media only screen and (max-width: 1000px) {
      width: 55%;
    }
    @media only screen and (max-width: 700px) {
      width: 75%;
    }
    @media only screen and (max-width: 400px) {
      width: 95%;
    }
    label{
      font-size: 1.3em;
    }
    input, textarea{
      float: right;
      display: inline-block;
      padding: 5px 10px;
      font-size: 1em;
      width: 40%;
    }
    textarea{
      height: 100px;
    }
    input[type='checkbox']{
      float: none;
      width: 15%;
    }
  }
  .check{
    text-align: center;
  }
  .rails_check{
    input[type='checkbox']{
      float: right;
    }
    label{
      text-align: left;
    }
  }
  .actions{
    input{
          background-color: #7EA3CF;
          border: none;
          color: #F2E980;
          padding: 16px 32px;
          text-align: center;
          text-decoration: none;
          display: block;
          margin: 35px auto;
          font-size: 16px;
          -webkit-transition-duration: 0.4s; /* Safari */
          transition-duration: 0.4s;
          cursor: pointer;
          font-weight: bold;
    }
  }
}


 //*****************************DEVISE WRAPPER***************************************//


 //*****************************UPLOAD PAGE***************************************//

#file_upload_div{
  text-align: center;
  margin-top: 13em;
  h1{
    margin-bottom: 2em;
    font-family: 'Sarala', sans-serif;

  }
  #content_uploader_content{
    font-size: 20px;
    font-family: 'Sarala', sans-serif;

  }
  #btn{
    font-size: 20px;
    font-family: 'Sarala', sans-serif;

  }
}

 //*****************************UPLOAD PAGE***************************************//


 //*****************************VIDEO NEW***************************************//
 .edit_p{
   display: block;
   margin-left: auto;
   margin-right: auto;
   font-style: italic;
   text-align: center;
   font-size: 1.2em;
   margin-top: -20px;
 }
.edit_video{

  text-align: center;
  a{
    text-align: center;
    font-size: 3em;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #7FABDA;
    background-color: #f1eada;
    margin-bottom: 10px;
    img{
      height: 60px;
      vertical-align: middle;
    }
  }
  .field{
    font-family: 'Sarala', sans-serif;
    margin-top: 17px;
    label{
      font-size: 1.5em;
      margin: .3em;
    }
    input[type=text]{
    padding: 8px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    width: 25%;
    border-radius: 5px;
    border: none;
    @media only screen and (max-width: 760px) {
      width: 55%;
    }
    @media only screen and (max-width: 375px) {
      width: 95%;
    }
    }
    input[type=number]{
    padding: 8px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    width: 53px;
    }
    input[type=number]::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
}

 //*****************************VIDEO NEW***************************************//


 //*****************************VIDEO SHHOW***************************************//


.edit_link{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
  text-decoration: underline;
  color: black;
  margin: 5em 0;
}
#video_show_wrapper{
  height: 100vh;
  width: 100vw;

  video{
    width: 90%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h1{
    text-align: center;
    max-width: 100vw;
    margin-top: 2em;
    font-size: 7em;
    font-family: 'Sarala', sans-serif;
  }
  @media only screen and (max-width: 760px) {
    h1 {
      font-size: 4em;
      line-height: .7em;
    }
  }

  h2{
    text-align: center;
    margin-top: 2em;
    font-size: 4em;
    font-family: 'Sarala', sans-serif;
  }

  p{
    margin-top: 2em;
    font-size: 1.5em;
    font-family: 'Sarala', sans-serif;
    padding-left: 15%;
    padding-right: 15%;
    line-height: 1.5em;
  }

  table {
    border-collapse: collapse;
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Sarala', sans-serif;
    font-size: 1.7em;
  }

  th, td {
      text-align: left;
      padding: 8px;
      border-bottom: 1px solid black;
  }
  tr{
    //background-color: #7EA3CF;
    color: black;
  }

}

.genre_form{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}




.select-style {
  display: inline-block;
    border: 1px solid #ccc;
    width: 15em;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa;

}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    font-size: 1.3em;
    font-family: 'Sarala', sans-serif;
}

.select-style select:focus {
    outline: none;
}

.countdown{
  font-size: 20px;
  margin-top: 1em;
}
 //*****************************VIDEO SHHOW***************************************//


 //*****************************MOVIES INDEX***************************************//

#movies_index_wrapper{
  text-align: center;

  img{
    width: 24.7% ;
    @media only screen and (max-width: 777px) {
      width: 24.3%;
    }
    @media only screen and (max-width: 350px) {
      width: 24%;
    }
  }
  h1{
    text-align: center;
    font-family: 'Sarala', sans-serif;
  }
  h2{
    text-align: center;
  }
  a{
    font-family: 'Sarala', sans-serif;
    text-decoration: underline;
    color: #333;
  a:visited{
    color: #333;
  }
  }

}

.movie_preview_div{

  img{
    width: 55% !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  p{
    color: #F2E980;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Sarala', sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;
    max-width: 55%;
  }
  @media only screen and (max-width: 600px) {
    img{
      width: 95% !important;
    }
    p{
      max-width: 95%;
    }
  }
}

 //*****************************MOVIES INDEX***************************************//


 //*****************************NEW SERIES***************************************//

#new_series_wrapper{
  text-align: center;
}
.search_poster{
  width: 23%;
}

 //*****************************NEW SERIES***************************************//



 //*****************************SERIES INDEX***************************************//

#series_wrapper{
  text-align: center;
  h1{
    font-family: 'Sarala', sans-serif;
  }
  a{
    font-family: 'Sarala', sans-serif;
    text-decoration: underline;
    color: #333;
  a:visited{
    color: #333;
  }
  }
  img{
    width: 49%;
  }
}

.video_link{
  text-decoration: underline;
  color: #333;
}
.video_link:visited{
  color: #333;
}

.poster{
  height: 15em;
  min-height: 650px;
  min-width: 400px;
  display: inline-block;
  background-image: url(placeholder.jpg);
  text-align: center;
  font-size: 30px;
  line-height: 675px;
}


#dropdown{
  overflow: hidden;
  font-family: 'Sarala', sans-serif;
  color: white;
  box-sizing: border-box;
  clear: both;
  background-color: #7EA3CF;
  width: 100%;
  max-width: 100%;
  min-height: 60em;
  padding: 2em;
  .video_divs{
    display: inline-block;
    //width: 100%;
    margin: 1em;
    height: 100%;
    vertical-align:top;
  }
  a{
    margin-top: -50px;
  }
  h1{
    color: #F2E980;
    text-align: center;
    font-size: 3em;
    margin-bottom: .5em;
  }
  h4{
    display: inline-block;
    padding-left: 2.5em;
    line-height: 2em;
    margin: 0;
  }
  h2{
    color: #F2E980;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: .5em;
    line-height: 1em;

    a{
      text-decoration: underline;
      font-size: 2em;
      line-height: 9;
      margin: 10px;
    }
  }
  @media only screen and (max-width: 700px) {
    h1{
      line-height: 1em;
    }
    h2 {
        font-size: 1.2em;
    }
}
  select{
    margin-left: -1em;
  }
  img{
    width: 100%;
  }
  .video_desc{
    width: 100%;
    display: inline-block;
    font-size: 18px;
  }
}
.owl-carousel{

}
.owl-item{
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  margin-top: -.5em;
  width: 20em;
}






.meter {
	height: .5em;  /* Can be anything */
	position: relative;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 1px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}


//*****************************SERIES INDEX***************************************//

 $colors:
   hsla(337, 84, 48, 0.75)
   hsla(160, 50, 48, 0.75)
   hsla(190, 61, 65, 0.75)
   hsla( 41, 82, 52, 0.75);
 $size: 10.5em;
 $thickness: 1.5em;

 // Calculated variables.
 $lat: ($size - $thickness) / 2;
 $offset: $lat - $thickness;

 .loader {
   position: relative;
   width: $size;
   height: $size;
   transform: rotate(165deg);

   &:before,
   &:after {
     content: '';
     position: absolute;
     top: 50%;
     left: 50%;
     display: block;
     width: $thickness;
     height: $thickness;
     border-radius: $thickness / 2;
     transform: translate(-50%, -50%);
   }

   &:before {
     animation: before 2s infinite;
   }

   &:after {
     animation: after 2s infinite;
   }
 }

 @keyframes before {
   0% {
     width: $thickness;
     box-shadow:
       $lat (-$offset) nth($colors, 1),
       (-$lat) $offset nth($colors, 3);
   }
   35% {
     width: $size;
     box-shadow:
       0 (-$offset) nth($colors, 1),
       0   $offset  nth($colors, 3);
   }
   70% {
     width: $thickness;
     box-shadow:
       (-$lat) (-$offset) nth($colors, 1),
       $lat $offset nth($colors, 3);
   }
   100% {
     box-shadow:
       $lat (-$offset) nth($colors, 1),
       (-$lat) $offset nth($colors, 3);
   }
 }

 @keyframes after {
   0% {
     height: $thickness;
     box-shadow:
       $offset $lat nth($colors, 2),
       (-$offset) (-$lat) nth($colors, 4);
   }
   35% {
     height: $size;
     box-shadow:
         $offset  0 nth($colors, 2),
       (-$offset) 0 nth($colors, 4);
   }
   70% {
     height: $thickness;
     box-shadow:
       $offset (-$lat) nth($colors, 2),
       (-$offset) $lat nth($colors, 4);
   }
   100% {
     box-shadow:
       $offset $lat nth($colors, 2),
       (-$offset) (-$lat) nth($colors, 4);
   }
 }



 /**
  * Attempt to center the whole thing!
  */



 .loader {
   position: absolute;
   top: calc(50% - #{$size / 1});
   left: calc(50% - #{$size / 1});
   display: none
 }
 .loader_text{
   position: absolute;
   top: calc(50% - #{$size / 10});
   left: calc(50% - #{$size / 1.2});
   margin-top: 5em;
   font-size: 30px;
   text-align: center;
   display: none;
 }





 //***************************** NEW GENRE PAGE*******************//

 .new_genre{
   width: 50%;
   margin-left: auto;
   margin-right: auto;
   input[type=text]{
     width: 100%;
     padding: 5px 10px;
     font-size: 1.5em;
   }
   input[type=submit] {
    background-color: #7EA3CF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
 }

.delete_genres{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.4em;
  div{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .7em;
    padding-bottom: 5px;
    border-bottom: .5px solid black;
    a{
      text-decoration: underline;
      color: #333;
    }
    a:visited{
      color: #333;
    }
    a{
      float: right;

    }
  }
}
@media only screen and (max-width: 950px) {
  .delete_genres{
    div{
      width: 90%;
      font-size: .8em;
    }
  }
}
@media only screen and (max-width: 750px) {
  .delete_genres{
    width: 100%;
    div{
      width: 90%;
      font-size: .8em;
    }
  }
  .new_genre{
    width: 100%;
  }
}
 //***************************** NEW GENRE PAGE*******************//


.mange_genres{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.5em;
  margin: 20px;
  font-weight: bold;
}

.mange_genres{
  text-decoration: underline;
  color: #333;
}
.mange_genres:visited{
  color: #333;
}


//*****************************RADIO BUTTONS*******************//
#search_radio{
  text-align: center !important;
  overflow: hidden;
  form{
    margin: 0 !important;
  }
}

#form_wrapper{
  min-width: 50%;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 10PX;
}
@media only screen and (max-width: 800px) {
  #form_wrapper{
    min-width: 95VW;
    max-width: 95VW;
  }
}
#genres{
  display: inline-block;
  margin-right: 15%;
  max-width: 25%;
}

#types{
  margin-left: 15%;
  vertical-align:top;
  display: inline-block;
  max-width: 25%;
}
#genres h2, #types h2{
  margin-left: 75px;
  font-family: 'Sarala', sans-serif;
  font-size: 3em;
}

#line{
  width: 5px;
  display: inline-block;
  border-left: 1px solid #4d4d4d;
}

@media only screen and (max-width: 1000px) {
  #line{
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  #genres{
    max-width: 45%;
    margin-right: 10%;
    margin-left: 15%;
  }
  #types{
    max-width: 45%;
    margin-left: 5%;
  }
}
@media only screen and (max-width: 680px) {
  #genres{
    margin-left: 5%;
  }
  #types{
    margin-left: 2%;
    margin-right: 50px;
    float: right;
  }
}
@media only screen and (max-width: 600px) {
  #genres{
    font-size: .5em;
    margin-left: 0;
  }
  #types{
    font-size: .5em;
  }
}
@media only screen and (max-width: 400px) {
  #genres{
    margin-left: -40px;
  }
  #types{
    font-size: .5em;
  }
}
.search_radio_search{
    form{
      float: none !important;
    }
}
$primary-color: #4d4d4d;
$accent-color: #7EA3CF;



.container {
	display: flex;
	justify-content: center;
	align-items: center;
	display: inline-block;
}

.list {
	flex: 0 20rem;
  list-style: none;
}

.list__item {
	position: relative;
	&:hover .label {
		color: $accent-color;
		&::before {
			border: 0.5rem solid $accent-color;
			margin-right: 2rem;
		}
	}
}

.radio-btn {
	display: none;
	&:checked + .label {
		color: $accent-color;
		&::before {
			margin-right: 2rem;
			border: 0.5rem solid $accent-color;
			background: $primary-color;
		}
	}
}

.label {
	display: flex;
	align-items: center;
	padding: 1rem 0;
	color: $primary-color;
	font-size: 1rem;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.25s linear;
}

.label::before {
	display: block;
	height: 1.125rem;
	width: 1.125rem;
	margin-right: 0.625rem;
	content: "";
	border: 0.5rem solid $primary-color;
	border-radius: 50%;
	transition: all 0.25s linear;
}
